.span-vente {
    font-size: 10px;
}

.edit-vente-color {
    color: $primary-color
}

.dropdown-color-vente {
    color: azure;
}

.btn-vente-position {
    display: flex;
    align-items: center;
}

.mini-size-span {
    font-size: 1rem;
}
